<html>
    <head>
        <title>Contact Page</title>
    </head>
    <body>
        <h1>hello world.. this is the contact page</h1>
        <form action='\data' method="post">
            <input type="text" name="First_Name" placeholder="First Name" required="required" />
            <input type="text" name='Second_Name' placeholder="Second Name" required='required' />
            <input type="number" name='Number' placeholder="Contact Number" required='required' />
            <input type="email" name='email' placeholder="email" required='required' />
            <button type="submit">Submit </button>
        </form>
    </body>
</html>